html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container {
  width:960px;
  margin: auto;
}

.flex {
/*  display: flex;*/
}
h1 {
  font-family: Rubik;
  font-weight: bold;
  color: black;
  font-size: 2rem;
}

h3 {
  font-family: rubik;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

h4 {
  font-family: rubik;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

p {
  font-family: roboto;
  font-weight: normal;
  font-size: 1rem;
  color: black;
}

/* ----------header nav--------------*/

header {
  padding-top: 1rem;
  height: 4rem;
  margin-top: -1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index:100;
  width: 100%
}

.desktop {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}


nav {
  /*display:flex; */
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: white;
  color: black;
}

nav div{
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;
}

nav .menu-desktop ul {
  margin-right: 1rem;
}

nav .menu-desktop li {
  display: inline;
  padding: 0 1rem;
}

.menu-desktop li a{
  color: black;
  text-decoration: none;
}

nav .menu-desktop li:nth-child(even){
  width: 1rem;
  height: 4rem;
  background-color: aqua;
}

.truncated-menu {
  display:none;
}

.menu-mobile {
  display: none;
}

@media only screen and (max-width:760px){

.desktop {
    display:none;
    }

.menu-mobile{
   display: flex;
   flex-direction: row;
 }


.menu-mobile ul{
  display: flex;
  justify-content: center;
}

}


/* ----------header main--------------*/

  .main-banner {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  padding-top: 4rem;
  border: 1px solid lightgrey;
  justify-content: space-between;
}

.main-banner .image-container {
    width: 60%;
    margin: 2rem 0rem 2rem 1.5rem;
}

.main-banner .image-container img{
  width: 100%;
  height: auto;
  }

.slogan {
  width: 40%;
  margin: 2rem 0rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slogan h1{
  width: 100%;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-family: Rubik;
  font-weight: bold;
  line-height: 1.2;
}


.slogan p {
  width: 100%;
  font-size: 1.2rem;
  font-family: Roboto;
}

.slogan .button {
  width: 100%;
  width: 17rem;
  background-color: grey;
  padding: 0.7rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: Roboto;
  font-weight: normal;
  color: white;
  margin-bottom: 2rem;
}

@media only screen and (max-width:760px){
.main-banner {
  flex-direction: column;
  width:100%;
}

.main-banner .image-container {


}

.main-banner img {
margin-left: 0rem;
}

.slogan {
padding-left: 1.5rem;
}

}

/* ----------Information--------------*/

.information {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top:2rem;
}

.practicing {
  width:60%;
  margin: 2rem 0rem 2rem 1.5rem;
}


.practicing img {
  width: 100%;
  height: auto;

}

.information-main h1{
  font-family: Rubik;
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.information-main p{
  font-family: Roboto;
  font-weight: normal;
  max-width: 27rem;
  font-size: 1rem;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.information-main h6{
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: .75rem;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.topics {
  width:40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* padding: 1.5rem 1rem;
  margin-top:10rem;*/
}

.topic:hover {
  background-color: lightgrey;
}

.topic {
  width:100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid lightgrey;
  /* padding: 1.5rem 1rem;
  margin-top:10rem;*/
}

.topic img {
  width: 35%;
  height:9rem;
  margin: 1rem
}

.topic .text h3 {
  font-family: rubik;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

.topic .text p{
margin-bottom: 1rem;
}

.topic .read-more a{
  color: blue;
  padding-top: 2rem;
}

.topics-mobile {
  display: none;
}

@media only screen and (max-width:760px){

.information {
  display: none;
}

.topics-mobile {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.topics-mobile .topic{
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgrey;
}

.topics-mobile .topic:hover{
  background-color: lightgrey;
}

.topics-mobile .topic img{
 margin: 1rem;
}

.topics-mobile .topic .text h3 {
  font-family: rubik;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
}

.topics-mobile .topic .text p{
  padding-left: 1rem;
}

.topics-mobile .topic .text .read-more {
  color: blue;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
}
/* ----------Courses--------------*/

.courses {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  margin-top: 2rem;
  /* padding: 1.5rem 1rem;
  margin-top:10rem;*/
}

.courses h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.course-info {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: space-between;
}

.course img {
  width: 16.5rem;
  height: 9rem;
}

.course .text {
  width:16.5rem;
  height: 9rem;
  background-color: white;
  margin-bottom: 2rem;
}

.course .text:hover {
  background-color: lightgrey;
  border: 1px solid white;
}


.course .text h3 {
  padding: 1rem;
}

.course .text h4 {
  padding: 0.5rem 0.5rem 0.5rem 1rem
}

.course .text p {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 0.85rem;
}

.course-info-mobile {
  display:none;
}

@media only screen and (max-width:760px){
  .course-info {
    display: none;
  }

.courses {
    background-color: white;
}

  .courses h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: left;
    padding-left: 1rem;
    }

.course-info-mobile {
  display: flex;
  flex-direction: column;
}

.course-info-mobile h3{
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: lightgrey;
  margin-top: 0.5rem;
}

}


/* ----------Projects--------------*/

.thesis {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 2rem;
}

.thesis h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.exhibits {
  display: flex;
  flex-direction: row;
  width:100%
}

.left-box {
  width:60%;
  margin: 0rem 0rem 2rem 1.5rem;
}

.left-box video{
  width:100%;
  height:auto;
  }

.left-box h3{
  width: 100%;
  margin: 0rem 1.5rem 0rem 1.5rem;

}

.left-box p{
  width: 100%;
  margin: 0rem 1.5rem 0rem 1.5rem;
}



.right-box {
  width:40%;
}

.project{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project:hover{
  background-color: lightgrey;
}

.project img{
  width: 35%;
  height: auto;
  margin: 1rem 0rem 1rem 1rem;
  }

.project-text h3 {
  font-family: rubik;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0rem 1rem 1rem;
}

.project-text p{
    margin: 1rem 0rem 1rem 1rem;
}

.urban h3{
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.urban p{
  margin-bottom: 2rem;
}

@media only screen and (max-width:760px){

.right-box {
  display:none;
}

.urban {
  display:none;
}

.thesis h1{
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  margin-top:2rem;
  text-align: left;
}

}

/* ----------Footer--------------*/

footer {
  width: 960px;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 1px solid lightgrey;
  justify-content: space-between;
  margin-top: 2rem;
}
footer p{
  margin-left: 1.5rem;
}

.terms {
  display: flex;
  flex-direction: row;
}

.terms p{
  padding: 0rem 1rem 0rem 0rem;
}

@media only screen and (max-width:760px){
  .terms {
    display: none;
}

}
